.App {
  min-height: 100px;
  width: 100%;
}
body{
  background-color: #343B40;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header{
  box-sizing: border-box;
  height: 150px;
  text-decoration: none;
  text-align: center;
  padding: .5em;
  color: rgb(234, 241, 241);
  background: #292f33;
  border-bottom: 10px solid white;
}
h1{
  font-family: 'Open Sans', sans-serif;
  line-height: 1em;
  font-size: 4em;
  font-weight: 700;
}
a{
  text-decoration: none;
  color: rgb(234, 241, 241);
}
section{
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;
  box-sizing: border-box;
  /* width: 100%; */
  min-height: 100px;
  margin: 0;
  padding: 1em;
}
nav{
  top: 0;
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  padding: 1em;
  margin: 0;
  background-color: #444e55;
}
main{
  font-family: 'Indie Flower', cursive;
  box-sizing: border-box;
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 1.5em;
  background-color: #343B40;
}
.links{
  display: grid;
  grid-template-columns: 1fr 9fr;
}
.deleteBtn-container{
  background: pink;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  margin-right: 0;
  padding-right: 0;
}
.deleteBtn{
  box-sizing: border-box;
  background-color: pink;
  border-right: 0;
  width: 100%;
  height: 100%;
  transition: width 1.5s;
}
.deleteBtn:hover{
  width: 100%;
}
.folders{
  box-sizing: none;
  width: 100%;
  height: 50px;
  margin: 0px;
  background-color: orange;
  border-top: .5px solid black;
  border-bottom: .5px solid black;
  border-left: 10px solid pink;
  border-right: 10px solid #343B40;
  padding-left: 5px solid gray;
  padding-right: 10px solid black;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

}
ul{
  padding: 0;
}
.noteContainer{
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em;
}
li{
  margin-left: 0;
  list-style: none;
  text-decoration: none;
}
.folders:hover{
  background-color: green;
}
.folders:active{
  background-color: gray;
}
.note{
  color: #343B40;
  width: 100%;
  height: 5em;
  font-family: 'Indie Flower', cursive;
  font-size: 24px;
  text-decoration: underline;
  background-color: #FFF795;
  border-top: 1px solid #87FFEF;
  border-bottom: 1px solid #87FFEF;
  border-right: none;
  border-left: none;
  border-radius: 20px;
}

.exactNote{
  color: #343B40;
  background-color: #FFF795;
  min-height: 100%;
  padding: 2em;
  font-size: 2em;
  border-radius: 10px;

}
button{
  border-image: none;
  border-style: none;
}
.addBtn{
  height: 60px;
  width: 60px;
  font-size: 3em;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  background-color: rgb(82, 82, 255);
}
.editBtn{
  height: 60px;
  width: 60px;
  font-size: .5em;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  background-color: rgb(82, 82, 255);
}
.deleteNoteBtn{
  height: 60px;
  width: 60px;
  font-size: .5em;
  border-radius: 30px;
  color: white;
  font-weight: 700;
  background-color: rgb(221, 14, 14);
}
.content-container{
  height: 400px;
  width: 90%;
}
label{
  width: 100%;
  text-align: center;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
